@mixin fullContainer() {
    max-width: 100vw;
    min-height: 90vh;
}

@mixin flexCenter($direction,$justify,$alignI,$alignC,$wrap) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $alignI;
    align-content: $alignC;
    flex-wrap: $wrap;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
@mixin animate($animation,$duration){
    animation: $animation $duration ;
}
@keyframes button {
    from {background-color: #ff6161;}
    to {background-color: #ffddd1;color: #ff6161;}
}