@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/responsive';

@import './block/navbar';
@import './block/home';
@import './block/skills';
@import './block/projects';
@import './block/contact';
@import './block/footer';

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: $secondaryColor;
}
p {
    color:$white
}