@-webkit-keyframes button {
  from {
    background-color: #ff6161;
  }
  to {
    background-color: #ffddd1;
    color: #ff6161;
  }
}

@keyframes button {
  from {
    background-color: #ff6161;
  }
  to {
    background-color: #ffddd1;
    color: #ff6161;
  }
}

/*This size or smaller*/
header {
  background-color: #080808;
  padding: 1rem 3rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 450px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0.5rem 1.5rem 0.5rem 0.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    width: 100%;
  }
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 3rem 0 0;
}

@media screen and (max-width: 450px) {
  header nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
}

header nav a:hover {
  color: #e02f4c;
}

.home {
  max-width: 100vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem 2rem;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#582432));
  background: linear-gradient(180deg, #080808, #582432);
  background-size: 400% 400%;
  -webkit-animation: bgAnimation 24s ease infinite;
          animation: bgAnimation 24s ease infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes bgAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 0.5rem;
  }
}

.home img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px 10px #582432;
          box-shadow: 0 0 15px 10px #582432;
}

@media screen and (max-width: 768px) {
  .home img {
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
  }
}

.home__text .name {
  font-size: 3rem;
  font-weight: 700;
  color: #e02f4c;
}

.home__text p {
  font-size: 1.5rem;
}

.skills {
  max-width: 100vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/code.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/code.png");
  opacity: 0.9;
  padding: 1rem;
}

@media screen and (max-width: 450px) {
  .skills {
    padding: 0.5rem;
  }
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e02f4c;
  -webkit-box-shadow: 1rem 0 0.4rem #080808;
          box-shadow: 1rem 0 0.4rem #080808;
  border-radius: 2rem;
  text-transform: capitalize;
  margin: 3rem 3rem;
}

@media screen and (max-width: 768px) {
  .skills__box {
    margin: 2rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .skills__box {
    margin: 1rem 1rem;
  }
}

.skills__box h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.skills__box li {
  font-size: 1.5rem;
}

.skills--1 {
  padding: 4rem 8rem;
}

@media screen and (max-width: 768px) {
  .skills--1 {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 450px) {
  .skills--1 {
    padding: 1.5rem 2.5rem;
  }
}

.skills--2 {
  padding: 4rem 10rem;
}

@media screen and (max-width: 768px) {
  .skills--2 {
    padding: 3rem 8rem;
  }
}

@media screen and (max-width: 450px) {
  .skills--2 {
    padding: 1.5rem 5rem;
  }
}

.projects {
  max-width: 100vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #24191c;
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    padding: 2rem 2rem;
  }
}

.projects__unit {
  border-radius: 2rem;
  margin: 2rem 3rem;
  padding: 5rem 15rem;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .projects__unit {
    padding: 0;
    text-align: center;
    border-radius: 0.1rem;
  }
}

@media screen and (max-width: 768px) {
  .projects__unit {
    text-align: center;
    padding: 3rem 10rem;
    margin: 1rem 3rem;
  }
}

.projects__unit h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.project--1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/avion.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/avion.jpg");
  -webkit-box-shadow: 1rem 0 0.4rem #080808;
          box-shadow: 1rem 0 0.4rem #080808;
}

.project--2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/transporte.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/transporte.png");
  -webkit-box-shadow: 1rem 0 0.4rem #080808;
          box-shadow: 1rem 0 0.4rem #080808;
}

.project--3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/medico.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/medico.jpg");
  -webkit-box-shadow: 1rem 0.5rem 0.3rem #080808;
          box-shadow: 1rem 0.5rem 0.3rem #080808;
}

.contact {
  max-width: 100vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  padding: 4rem 0 5rem 0;
  background-color: #e02f4c;
}

.contact h6 {
  font-size: 1.8rem;
  font-weight: 700;
}

.contact__ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 3rem 0;
}

.contact__ways a {
  margin: 0 3rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: solid 2px #ffffff;
  border-radius: 2rem;
  text-decoration: none;
  color: #ffffff;
}

.contact__ways a:hover {
  -webkit-animation: button 2.5s;
          animation: button 2.5s;
}

@media screen and (max-width: 450px) {
  .contact__ways a {
    margin: 1rem;
  }
}

@keyframes button {
  from {
    background-color: #ff6161;
  }
  to {
    background-color: #ffddd1;
    color: #ff6161;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #24191c;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #582432;
}

p {
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */